{% extends 'djangoblog/base.html' %}

{% block content %}
          {% for post in posts %}
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                </div>
                <div class="meta">
                  <time class="published">{{ post.published_date }}</time>
                  <a href="#" class="author"><span class="name">Admin</span><img src="media/admin/avatar.png" alt="" /></a>
                </div>
              </header>
              {% if post.image %}
                <a href="#" class="image featured"><img src="{{ post.image.url }}" alt="" /></a>
              {% endif %}
              <p>{{ post.text|linebreaksbr|truncatechars:50 }}</p>
              <footer>
                <ul class="actions">
                  <li><a href="{% url 'post_detail' pk=post.pk %}" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  <li><a href="#">General</a></li>
                  <li><a href="#" class="icon fa-heart">28</a></li>
                  <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
              </footer>
            </article>
          {% endfor %}
            <ul class="actions pagination">
              <li><a href="" class="disabled button big previous">Previous Page</a></li>
              <li><a href="#" class="button big next">Next Page</a></li>
            </ul>
{% endblock content %}
