{% extends 'djangoblog/base.html' %}

{% block content %}
  <article class="post">
    <header>
      <div class="title">
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
      </div>

      {% if post.published_date %}
        <div class="meta">
          <time class="published">{{ post.published_date }}</time>
          <a href="#" class="author"><span class="name">Admin</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
      {% endif %}
    </header>
    {% if user.is_authenticated %}
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    {% endif %}

    {% if post.image %}
      <a href="#" class="image featured"><img src="{{ post.image.url }}" /></a>
    {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
  </article>

    <ul class="actions pagination">
      <li><a href="{% url 'post_list' %}" class="button big">Back</a></li>
    </ul>
{% endblock content %}
