{% extends 'djangoblog/base.html' %}

{% block content %}
          {% for post in object_list %}
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                </div>
                <div class="meta">
                  <time class="published">{{ post.published_date }}</time>
                  <a href="#" class="author"><span class="name">Admin</span><img src="media/admin/avatar.png" alt="" /></a>
                </div>
              </header>
              {% if post.image %}
                <a href="#" class="image featured"><img src="{{ post.image.url }}" alt="" /></a>
              {% endif %}
              <p>{{ post.text|linebreaksbr|truncatechars:50 }}</p>
              <footer>
                <ul class="actions">
                  <li><a href="{% url 'post_detail' pk=post.pk %}" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  {% for tag in post.tags.all %}
                    <li><a>{{ tag }}</a></li>
                  {% empty %}
                    <li>No Tags</li>
                  {% endfor %}
                  <li><a href="{% url 'post_detail' pk=post.pk %}" class="icon fa-comment">{{ post.approved_comments.count }}</a></li>
                </ul>
              </footer>
            </article>
          {% endfor %}
        {% include "pagination.html" %}
{% endblock content %}
